<template>
<div>
<div class="nav" v-if="this.$route.path !== '/'">
<Navigation />
</div>
<div class="template">
<router-view @hidden="hiddenNav"></router-view>
</div>



</div>

</template>

<script>

import Navigation from './components/navigation/Navigation.vue';

export default {
  name: 'App',
  components: {
 
    Navigation,
   
  },

  data(){
    return{
        show:true,
        hidden:false
    }
  },

  

}
</script>

<style>
#app {
  width: 100%;
  height: 100%;
}
body{
  background-image:linear-gradient(rgb(78, 142, 163),rgb(100, 66, 128));
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.template{
  display: flex;
  height: 100vh;
    align-items: center;
    justify-content: center;
}

.nav-hidden{
  display: none;
}

















header{
  display: flex;
  justify-content: space-between;
  align-items:center;
  background: rgba(155, 201, 209, 0.2);
  width: 100%;
  height: 8%; 
  position: fixed;
  top:0;
}


.site-title{
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-title h1{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

nav{
     width: 35%;
     height: 100%;
     display:flex;
     flex-direction: row;
     align-items: center;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

li:hover{
color:rgb(253, 236, 236);
cursor: pointer;
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap')
</style>
