<template>
   <div class="add-panel">
       <input type="text" placeholder="add product to list">
       <button>Add</button>
   </div> 
</template>

<script>


export default{
    sdata() {
        
    },
}
</script>

<style scoped>
.add-panel{
    height: 50%;
    display: flex;
    justify-content: center;
}

.add-panel input{
    width: 25%;
}

.add-panel button{
    width: 10%;
}
</style>
