<template>

    <div class="ProductPanel">
        <div class="product-panel-title">
        <h1>Product panel</h1>
        </div>

        <div class="add-products">
            <AddProducts />
        </div>

         <div class="products-list">
            <ProductList />
        </div>
    </div>
</template>

<script>

import AddProducts from './AddProducts.vue'
import ProductList from './ProductList.vue'
export default{
    components:{
        AddProducts,
        ProductList
    },
    date(){
       
        
    },
}
</script>


<style scoped>
.ProductPanel{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.add-products{
    height: 10%;
    width: 50%;
}

.products-list{ 
    height:70%;
    width: 90%;
    margin-top: 2%;
}
</style>