<template>
    <div class="container">
        <form  class="form" :class="{avtive:login, 'form-hidden' :create}" id="login">
            <h1 class="title">Login</h1>
            <div class="message message-error"></div>
                 <div class="inputs">
                     <input type="text" placeholder="Login or emial" class="form-input">
                     <div class="input-error-message"></div>
                </div>
                 <div class="inputs">
                     <input type="text" placeholder="password" class="form-input">
                     <div class="input-error-message"></div>
                </div>
                <button class="form-button" type="submit" @click="LogIntoApp">Log in </button>
              <p class="form-text">
                    <a href="#" class="form-link" id="linkCreateAccount" @click="GotoCreateAccount">Forgot password?</a>
                </p>
                 <p class="form-text">
                    <a href="#" class="form-link" id="linkCreateAccount" @click="GotoCreateAccount">Create Account</a>
                </p>
        </form>

        <form  class="form" :class="{avtive:create, 'form-hidden' :login}" id="create-account">
            <h1 class="title">Create Account</h1>
            <div class="message message-error"></div>
                 <div class="inputs">
                     <input type="text" placeholder="Login or emial" class="form-input">
                     <div class="input-error-message"></div>
                </div>
                 <div class="inputs">
                     <input type="password" placeholder="password" class="form-input">
                     <div class="input-error-message"></div>
                </div>
                 <div class="inputs">
                     <input type="password" placeholder="confirm password" class="form-input">
                     <div class="input-error-message"></div>
                </div>
                <button class="form-button" type="submit">Log in </button>
                 <p class="form-text">
                    <a href="#" class="form-link" id="linkLogin" @click="GotoCreateAccount" >Sign in if you have account</a>
                </p>
        </form>
    </div>
</template>

<script>


export default{


    data() {
        return{
            login: true,
            create: false,        
        }
        
    },

    methods:{
        GotoCreateAccount(){
           
             this.login = !this.login
             this.create = !this.create
        },

 

        LogIntoApp(){
              this.$router.push('/productPanel');
          
        }
        
    }
}
</script>

<style scoped>


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
    width: 25%;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: #c5e5e9;
}
.form{
  
    width: 80%;
}

.title{
    text-align: center;
}



.form-hidden{
    display: none;
}

.message{
   text-align: center;
    margin-bottom: 1rem; 
}

.message-error{
   text-align: center;
    margin-bottom: 1rem; 
}

.message-success{
    color:green;
}

.inputs{
      margin-bottom: 1rem;
}

.form-input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    background: #eeeeee;
    outline: none;
}

.input-error-message{
    margin-top: 0.5rem;
    font-size: 0.85rem;
}

.form-button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius:2px;
    outline: none;
    cursor: pointer;
    background: rgb(151, 6, 6)
}

.form-button:hover{
    background: wheat;
    color:black;

}

.form-button:active{
    transform: scale(0.88);
}

.form-text{
      text-align: center;
}

.form-link{
    color: teal;
    text-decoration: none;
    cursor: pointer;
}

.form-link:hover{
    color: rgb(2, 41, 41);  
}

</style>
