<template>
    <header>
        <div class="site-title">
            <h1>Household</h1>
        </div>
     
        <nav>
            <ul class="nav-list">
                
                <router-link to="/productPanel">ProductPanel</router-link>
                <li class="nav-list-item">To do</li>
                <li class="nav-list-item">Split Panel</li>
                <li class="nav-list-item">Schedule</li>
            </ul>
        </nav>
     
    </header>
</template>

<script>


export default{
    data() {
        
    },
   

    


}
</script>

<style>
header{
  display: flex;
  justify-content: space-between;
  align-items:center;
  background: rgba(155, 201, 209, 0.2);
  width: 100%;
  height: 8%; 
  position: fixed;
  top:0;
}


.site-title{
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-title h1{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

nav{
     width: 35%;
     height: 100%;
     display:flex;
     flex-direction: row;
     align-items: center;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

li:hover{
color:rgb(253, 236, 236);
cursor: pointer;
}


</style>
